DATABASE_URL=file:./label-watcher.db
MIGRATIONS_FOLDER=drizzle
NOTIFY_SMTP_URL=smtps://resend:....
NOTIFY_SENDER_EMAIL=yougotmail@pdsmoover.com
NOTIFY_RECIPIENT_EMAILS=you@example.com,other@example.com
LOG_LEVEL=info
