[label-watcher.settings]
#PDSs to watch
pds = ['selfhosted.social']

# Define the labeler
[labeler.skywatch]
host = "ozone.skywatch.blue"

# Can have multiple labels
[labeler.skywatch.labels.test-label]
label_name = "test-label"
action = "notify"


[labeler.bsky]
host = "mod.bsky.app"

# Can have multiple labels
[labeler.bsky.labels.test-two]
label_name = "test-two"
action = "takedown"
