[label-watcher.settings]

#PDSs to watch can have multiple ones
[pds.your-pds]
host = "your-pds.com"
notifyEmails = ["admin@example.com", "another@example.com"]
# Will be used for auto take downs on down the road
pdsAdminPassword = "secure"
# Loads all the historic accounts in
backfillAccounts = true
# Listens for new accounts
listenForNewAccounts = true


# Define the labeler. Can do multiple labelers
[labeler.skywatch]
host = "ozone.skywatch.blue"

# Notifies if an account has elon musk in their description or display name
[labeler.skywatch.labels.elon-musk]
label_name = "elon-musk"
action = "notify"

# Notifies if an account has the platform-manipulation label applied
[labeler.skywatch.labels.platform-manipulation]
label_name = "platform-manipulation"
action = "notify"
